DO NOT REMOVE THE FIRST LINE - THESE ARE XBEE COMMANDS
CONFIG:Node_ID:NI
READ:Signal_Strength:DB
READ:Voltage_Supply:%V
READ:Search_Network:ND
READ:Serial_High:SH
READ:Serial_Low:SL
CONFIG:Destination_High:DH
CONFIG:Destination_Low:DL
READ:My_Address:MY
READ:Parent_Address:MP
READ:Remaining_Children:NC
CONFIG:Node_ID:NI
READ:Device_Type:DD
READ:Operating_Channel:CH
CONFIG:Pan_ID:ID
READ:Extended_PAN_ID:OP
CONFIG:Scan_Channels:SC
CONFIG:Encryption_Enable:EE
CONFIG:Power_Level:PL
CONFIG:Power_Mode:PM
READ:Signal_Strength:DB
READ:Baud_Rate:BD
READ:Serial_Parity:NM
READ:Stop_Bits:SB
READ:Node_Discovery:ND
READ:Software_Version:VR
READ:Hardware_Version:HV
CONFIG:Save_Config:WR
READ:Force_Sample:IS
CONFIG:Analog_Data:A0
CONFIG:Analog_Data:A1
CONFIG:Analog_Data:A2
CONFIG:Analog_Data:A3
