body.background
{
background-image:url('graymesh.jpeg');
}
div.header
{
position:relative;
text-align:center;
font-size:250%;
color:white;
font-family:"Verdana",sans-serif;
top:0px;
width:100%;
height:50px;
background-image:url('grayheader.png');
-moz-border-radius: 5px;
}
div.sidebar
{
position:fixed;
top:60px;
width:150px;
border-right:1px solid gray;
border-bottom:1px solid gray;
height:100%;
background-image:url('whitegradient.png');
-moz-border-radius: 5px;
}
div.sideoption
{
position:relative;
height:auto;
width:95%;
font-size:150%;
font-family:"Ubuntu",Georgia,sans-serif;
background-image:url('sidebar.jpeg');
text-align:center;
color:white;
margin-top:15px;
margin-left:5px;
-moz-border-radius: 5px;
}
div.running
{
position:relative;
height:auto;
width:95%;
font-size:150%;
font-family:"Ubuntu",Georgia,sans-serif;
background-image:url('greengradient.png');
text-align:center;
color:white;
margin-top:15px;
margin-left:5px;
-moz-border-radius: 5px;
}
div.down
{
position:relative;
height:auto;
width:95%;
font-size:150%;
font-family:"Ubuntu",Georgia,sans-serif;
background-image:url('redgradient.png');
text-align:center;
color:white;
margin-top:15px;
margin-left:5px;
-moz-border-radius: 5px;
}
a.sideoption
{
text-decoration:none;
display:block;
}
a.sideoption:hover
{
background-image:url('yellowGradient.png');
color:white;
}
a.sideoption:visited
{
color:white;
}
div.main
{
position:absolute;
top:60px;
left:160px;
width:87%;
height:1500px;
background-image:url('main.jpg');
background-attachment:scroll;
-moz-border-radius: 5px;
}
div.banner
{
position:absolute;
top:10px;
left:10px;
width:90%;
height:50px;
background-image:url('banner.png');
background-attachment:scroll;
-moz-border-radius: 15px;
}
div.banneroption
{
display:inline;
float:left;
text-align:center;
position:relative;
width:33%;
height:100%;
color:white;
font-family:"Ubuntu",Georgia,sans-serif;
font-size:150%;
margin-top:10px;
}
a.banneroption
{
text-decoration:none;
}
a.banneroption:visited
{
color:blue;
}
div.infobox
{
position:absolute;
top:70px;
left:10px;
margin-left:1%;
width:90%;
min-height:90%;
height:auto;
background-image:url('infoback.jpg');
background-attachment:scroll;
-moz-border-radius:10px;
}
div.infotext
{
position:relative;
margin-top:20px;
margin-left:10px;
color:white;
font-family:"Ubuntu",Georgia,sans-serif;
font-size:120%;
}
div.infotextFB
{
position:relative;
margin-top:20px;
margin-left:10px;
color:blue;
font-family:"Ubuntu",Georgia,sans-serif;
font-size:120%;
width:90%;
height:auto;
padding:7px 7px 7px 7px;
background-color:white;
-moz-border-radius:5px;
}
div.coordinator
{
position:absolute;
margin-left:40%;
margin-top:10px;
text-align:center;
font-family:"Ubuntu",Georgia,sans-serif;
background-image:url('whitegradient.png');
width:150px;
height:150px;
color:blue;
font-size:150%;
-moz-border-radius:75px;
}
div.coordinator:hover
{
padding: 15px 15px 15px 15px;
}
a.coordinator
{
text-decoration:none;
}
a.coordinator:visited
{
color:blue;
}
div.router
{
display:inline;
float:left;
margin-top:210px;
margin-left:10px;
text-align:center;
font-family:"Ubuntu",Georgia,sans-serif;
background-image:url('routerbutton.jpg');
width:150px;
height:150px;
color:white;
font-size:150%;
-moz-border-radius:75px;
}
div.router:hover
{
padding: 15px 15px 15px 15px;
}
a.router
{
color:white;
text-decoration:none;
}
a.router:visited
{
color:white;
}
div.routertext
{
color:white;
font-family:"Ubuntu",Georgia,sans-serif;
font-size:60%;
width:auto;
height:auto;
}
div.xbeeinfo
{
position:absolute;
top:20px;
left:10px;
min-width:90%;
width:95%;
height:85%;
background-image:url('xbeeinfo.jpg');
background-attachment:scroll;
-moz-border-radius:10px;
}
div.xbeeinfotext
{
position:absolute;
top:10px;
left:10px;
color:blue;
font-family:"Ubuntu",Georgia,sans-serif;
font-size:90%;
}
h1.xbeeinfotext
{
color:blue
font-size:150%;
}
div.pinsbox
{
position:absolute;
top:10px;
left:300px;
color:blue;
width:100%;
height:200px;
font-family:"Ubuntu",Georgia,sans-serif;
font-size:90%;
padding:10px 10px 10px 10px;
}
table.pins
{
float:right;
width:auto;
}
input.xbeebutton
{
font-size:80%;
background-image:url('whitegradient.png');
-moz-border-radius:2px;
}

td.pins{
border:1px solid blue;
-moz-border-radius:5px;
margin-left:5px;
margin-top:5px;
margin-right:5px;
margin-bottom:5px;
}
input.onbutton
{
font-size:80%;
background-image:url('greengradientbutton.png');
-moz-border-radius:2px;
}
input.offbutton
{
font-size:80%;
background-image:url('redgradientbutton.png');
-moz-border-radius:2px;
}
input.networksearch
{
position:absolute;
top:10px;
left:10px;
font-size:80%;
background-image:url('whitegradient.png');
-moz-border-radius:2px;
}
input.networksearch2
{
position:absolute;
top:40px;
left:10px;
font-size:80%;
background-image:url('whitegradient.png');
-moz-border-radius:2px;
}
div.monitorlist
{
font-family:"Ubuntu",Georgia,sans-serif;
font-size:150%;
margin-bottom:5px;
color:blue;
width:200px;
height:70px;
background-image:url('blueGradient.png');
-moz-border-radius:20px;
text-align:center;
margin-left:65%;
}
a.monitorlist
{
text-decoration:none;
}
a.monitorlist:visited
{
color:blue;
}
div.createrrd
{
position:absolute;
top:10px;
left:10px;
width:200px;
height:400px;
font-family:"Ubuntu",Georgia,sans-serif;
border:1px solid blue;
-moz-border-radius:5px;
}
